.wrapper {
  position: relative;
  display: inline-block;
}

.pr14 {
  padding-right: 20px!important;
}

.clear {
  position: absolute;
  right: 7px;
  top:2px;
  color: grey;
  font-size: 17px;
}

.clear:hover {
  cursor: pointer;
  color: blue;
}